.my-table{
	border-width: 0px;
}

.my-books{
	height: 40%;
	visibility: false;
	margin-left: auto
}
.my-bottom{
	margin-left: auto;
	margin-right: auto
}

.left_div{
	width: 150px;
	height: 400px;
	background-color: #000;
}

#right_div{
	width: 85%;
	height: 100%;
}